<!doctype html>
<html lang="zh-CN" class="no-js">
<head>

    <!-- Meta tags -->
    {% block site_meta %}
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>

        <!-- Page description -->
        <meta name="description" content="#"/>

        <!-- Page author -->
        <meta name="author" content=""/>

        <!-- Favicon -->
        <link rel="icon" href="#"/>

    {% endblock %}

    <!-- Site title -->
    {% block htmltitle %}
    {% endblock %}

    <!-- Theme-related style sheets -->
    {% block styles %}
        <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css"/>
    {% endblock %}

    <!-- JavaScript libraries -->
    {% block libs %}{% endblock %}

    <!-- Webfonts -->
    {% block fonts %}{% endblock %}

    <!-- Custom style sheets -->
    {% block extrastyle %}{% endblock %}

    <!-- Custom front matter -->
    {% block extrahead %}{% endblock %}
</head>

<body class="text-center">
<!-- Announcement bar -->
{% block announce %}{% endblock %}

<!-- Header -->
{% block header %}

{% endblock %}

<!-- Container -->
<div>

    <!-- header  -->
    {% block tabs %}
        {% include 'account/partials/header.html' %}
    {% endblock %}

    <!-- Main area -->
    <main class="container-fluid" data-md-component="main">
        <div class="md-main__inner md-grid">

            <!-- Navigation -->
            {% block site_nav %}
            {% endblock %}

            <!-- Page content -->
            <div class="md-content" data-md-component="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <!-- Back-to-top button -->
        {% if "navigation.top" in features %}
            <a
                    href="#"
                    class="md-top md-icon"
                    data-md-component="top"
                    data-md-state="hidden"
            >
                向上
            </a>
        {% endif %}
    </main>

    <!-- Footer -->
    {% block footer %}
        {% include 'account/partials/footer.html' %}
    {% endblock %}
</div>

<!-- Theme-related JavaScript -->
{% block scripts %}
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.min.js"></script>
{% endblock %}
<!-- Custom JavaScript -->
{% block customscripts %}
{% endblock %}
</body>
</html>
